// Every variables wich are apply to more than one page

// ==================== colors ====================
// Primary 
$mainBackgroundColor: #241b35;
$containerColor: #352A44;

// Text
$textColor: #1E88E5 ; 

// Border
$bordersColor: #6c35de;

// Hover


// Highlight
$accentBlueColor: #cb80ff; //Add Task

//Optional 


// =================== sizes =========================

$header_links_size_desktop: 1.5rem;
$header_links_size_mobile: 0.75rem;

// ========================= Bordering =========================

$tag-and-dropdown_border-radius_desktop: 10px;
$tag-and-dropdown_border-radius_mobile: 5px;
