// Every variables wich are apply to more than one page

// ==================== colors ====================

$mainBackgroundColor: #b3deec;
$primaryColor: #007ACC ;
$accentColor: #00B5D9 ; //Something to put accent on
$textColor: #333333 ; 
$completedTasktColor: #6DBF54; 

// =================== sizes =========================

$header_links_size_desktop: 1.5rem;
$header_links_size_mobile: 0.75rem;

// ========================= Bordering =========================

$tag-and-dropdown_border-radius_desktop: 10px;
$tag-and-dropdown_border-radius_mobile: 5px;
